node_modules
vendor
.git
.github
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
*.md
cookies*.txt
deploy.bat
get_page.html
ids.json
post_result.html
